.display-center {
    display: flex;
    align-items: center;
}

.login-user {
    display: flex;
    flex-direction: column;
}

label, input, button, h1 {
    margin-top: 15px;
    margin-bottom: 15px;
}