<div class="container">
    <div class="row">
        <div class="col display-center">
            <img src="./../../../assets/img/pikachu.jpg">
        </div>
        <div class="col display-center">
            <form (ngSubmit)=submitInscription()>
                <div class="form-group">
                    <h1>Bienvenue</h1>
                    <label for="formGroupExampleInput">Login name </label>
                    <input type="text" [(ngModel)]="model.name" class="form-control" id="login" name="login" placeholder="Name" required>
                    <button type="submit" class="btn btn-primary">Go</button>
                </div>
            </form>
        </div>
    </div>
</div>
