<!-- Toolbar -->
<div class="navbar navbar-light bg-light justify-content-between" id="margin-bottom" role="banner">
    <!-- <span>{{ title }}</span> -->
    <a href="app.component.html">
      <img src="./../../../assets/img/pokemon.png" width="150">
    </a>
    <a routerLink="/deck">Deck</a>
    <a routerLink="/store">Boutique</a>
    <p>Solde: {{ user.coins }} PK</p>
    <button type="button" class="btn btn-danger" (click)="deleteUserByToken()" >Delete & logout</button>
    <p>Bonjour {{ user.name }}</p>
</div>
