.center {
    display: flex;
    justify-content: center;
}

div {
    margin-bottom: 80px;
}

.cardContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}