<app-menu></app-menu>

<div class="input-group mb-3" id ="margin-bottom">
    <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Min Attack</span>
    </div>
    <input type="number" class="form-control ng-untouched ng-valid ng-dirty" aria-describedby="basic-addon1" placeholder="" name="minAttack" [(ngModel)]=minAttack (keyup)=keyUpMinAttack(minAttack)>
</div>

<div class="cardContainer">
    <div *ngFor="let pokemon of pokemons | minAttackFilter: minAttack">
        <app-cards class="col-2" [pokemon]=pokemon></app-cards>
    </div>
</div>