.cardContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.center {
    display: flex;
    justify-content: center;
}

.no-padding {
    padding: 0;
    margin: 0;
}