<app-menu></app-menu>

<div class="center">
    <img src="../../../assets/img/booster.png" width="150px" (click)="getPokemons()"/>
</div>

<div class="cardContainer">
    <div *ngFor="let pokemon of pokemons">
        <div>
            <button class="btn btn-danger" (click)=deletePokemon(pokemon)>X</button>
        </div>
        <app-cards class="col-2 no-padding" [pokemon]=pokemon (deletePokemon)="deletePokemon($event)" (addPokemon)="addPokemon($event)"></app-cards>
    </div>
</div>
