.close {
    display:flex;
    background-color: gray;
    color: white;
    height: 50px;
    width: 50px;
    justify-content: center;
    align-items: center;
}

#card {
    display: flex;
    flex-direction: column;
    width: 225px;
}

.card-def {
    /* display: flex;
    justify-content: space-around; */
    border: 1px solid rgba(22, 20,20, .374);
    border-radius: 5px;
    box-shadow: 8px 8px 4px #aaa;
    height: 16rem;
    width: 10rem;
    padding: 20px; 
}

p, strong {
    display: flex;
    justify-content: center;
}

table {
    width: 100%;
}

#photoPokemon {
    height: 5rem;
    width: 5rem;
    text-align: center;
}