<div id="card">
    <div class="card-def" (click)=addPoke(pokemon)>
        <strong>{{ pokemon.name }}</strong>
        <p>{{ pokemon.type }}</p>
        <div id="photoPokemon">
            <img src="{{ pokemon.image }}" />
        </div>
        <table>
            <tr>
                <td>PV</td>
                <td>{{ pokemon.stats.hp }}</td>
            </tr>
            <tr>
                <td>Défense</td>
                <td>{{ pokemon.stats.defense }}</td>
            </tr>
            <tr>
                <td>Attaque</td>
                <td>{{ pokemon.stats.attack }}</td>
            </tr>
            <tr>
                <td>Vitesse</td>
                <td>{{ pokemon.stats.speed }}</td>
            </tr>
        </table>
    </div>
</div>

